<!DOCTYPE html>
<html>
<head>
    <title>All Documents</title>
    <style>
        .article-heading {
    margin-top: 40px; /* You can adjust the value as needed */
}
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 2px solid #ddd;
            padding: 8px;
            text-align: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 80px;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        a {
            text-decoration: none;
            color: #007BFF;
        }
        .content_val{
            max-height: 10px;
            overflow: hidden;
            text-overflow: ellipsis 
        }
    </style>
</head>
<body>
    <%- include('navbar') %>
    <h1 class="article-heading">All Documents</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>Visit</th>
                <th>Last Edited</th>
            </tr>
        </thead>
        <tbody>
            <% articles.forEach(listing => { %>
                <tr>
                    <td><%=listing.id%></td>
                    <td><%= listing.title %></td>
                    <td class="content_val"><%= listing.content %></td>
                    <td><a href="http://localhost:3000/listing/<%=listing.id%>">Visit</a></td>
                    <td><%=listing.LastEdited%></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>